/var/log/munin/munin-update.log {
        daily
        missingok
        rotate 7
        compress
        notifempty
        create 640 munin adm
}

/var/log/munin/munin-graph.log {
        daily
        missingok
        rotate 7
        compress
        notifempty
        create 660 munin <%= @apache_user %>
}

/var/log/munin/munin-cgi-*.log {
        daily
        missingok
        rotate 7
        compress
        notifempty
        create 640 <%= @apache_user %> <%= @apache_user %>
}

/var/log/munin/munin-html.log {
        daily
        missingok
        rotate 7
        compress
        notifempty
        create 640 munin adm
}

/var/log/munin/munin-limits.log {
        daily
        missingok
        rotate 7
        compress
        notifempty
        create 640 munin adm
}
