##########
########## Managed by puppet
##########

log_level 4
log_file <%= scope['munin::client::params::log_file'] %>
pid_file /var/run/munin/munin-node.pid

background 1
setsid 1

user <%= scope['munin::client::params::user'] %>
group <%= scope['munin::client::params::group'] %>

# This is the timeout for the whole transaction.
# Units are in sec. Default is 15 min
#
# global_timeout 900

# This is the timeout for each plugin.
# Units are in sec. Default is 1 min
#
# timeout 60

# Regexps for files to ignore
#ignore_file [\#~]$
ignore_file DEADJOE$
ignore_file \.bak$
ignore_file %$
ignore_file \.dpkg-(tmp|new|old|dist)$
ignore_file \.rpm(save|new)$
ignore_file \.pod$

# Set this if the client doesn't report the correct hostname when
# telnetting to localhost, port 4949
#
host_name <%= scope['munin::client::host_name'] %>

# A list of addresses that are allowed to connect.  This must be a
# regular expression, since Net::Server does not understand CIDR-style
# network notation unless the perl module Net::CIDR is installed.  You
# may repeat the allow line as many times as you'd like
<% scope['munin::client::allow'].each do |allow| -%>
allow <%= "^#{Regexp.escape(allow)}$" %>
<% end -%>

# If you have installed the Net::CIDR perl module, you can use one or more
# cidr_allow and cidr_deny address/mask patterns.  A connecting client must
# match any cidr_allow, and not match any cidr_deny.  Note that a netmask
# *must* be provided, even if it's /32
#
# Example:
#
# cidr_allow 127.0.0.1/32
# cidr_allow 192.0.2.0/24
# cidr_deny  192.0.2.42/32
<% if (scope.lookupvar('munin::cidr_allow')) -%>
<% scope.lookupvar('munin::cidr_allow').each do |cidr_allow| -%>
cidr_allow <%= cidr_allow %>
<% end -%>
<% end -%>
<% if (scope.lookupvar('munin::cidr_deny')) -%>
<% scope.lookupvar('munin::cidr_deny').each do |cidr_deny| -%>
cidr_deny <%= cidr_deny %>
<% end -%>
<% end -%>

# Which address to bind to;
host <%= scope['munin::client::host'] %>

# And which port
port <%= scope['munin::client::port'] %>
